:root{
    background: #fff
}
.global-body {
    font-family: "Roboto", sans-serif;
    color: #2e2f42;
}
.global-body h1,  h2{
    text-align: center;
}
.logo-color .first-half {
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
}
.logo-color .second-half{
    font-family: "Raleway", sans-serif;
    color: #2e2f42
}
.nav-bar{
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.nav-bar li{
    list-style-type: none;
}
.nav-bar , a{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.main , button{
    cursor:pointer;
}
.main .features , h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.main .features, p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.main h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.our-team, h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.our-team , p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.our-team li{
    list-style-type: none;
}
.footer-proprieties p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}